<h4>Post details:</h4>

    <p>

    <h6>Вывод информации о посте</h6>
         <br>
       <%= @row['content'] %> 
         <br />
         <br />
       Added at <%= @row['created_date'] %>

    </p>